
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f9; 
}

.container {
    width: 40%; 
    margin: 100px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
    width: 97%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; 
}

/* CSS for submit button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #16a085; 
}

input[type="hidden"] {
    display: none; 
}

.cancel-button {
    width: 100%; 
    padding: 10px;
    background-color: #e74c3c; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; 
}

.cancel-button:hover {
    background-color: #c0392b; 
}
