/* add_member.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f9; /* Light teal background color */
}

.container {
    width: 40%; /* Adjusted width for responsiveness */
    margin: 100px auto;
    background-color: #ffffff; /* White container background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
    width: 97%; /* Adjusted width to be same as container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Added margin for better spacing */
}

/* CSS for submit button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c; /* Teal button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #16a085; /* Darker teal hover color */
}

input[type="hidden"] {
    display: none; /* Hide hidden input field */
}

/* add_member.css */

/* CSS for styling the cancel button */
.cancel-button {
    width: 100%; /* Adjusted width for responsiveness */
    padding: 10px;
    background-color: #e74c3c; /* Red button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Add margin for spacing */
}

.cancel-button:hover {
    background-color: #c0392b; /* Darker red hover color */
}
