
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; 
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.dashboard-links a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.dashboard-links a:hover {
    color: #007bff;
}


form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form button:hover {
    background-color: #0056b3;
}

body {
    background-color: #e6f7ff; 
}
