
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f9; 
}

.container {
    width: 60%; 
    margin: 100px auto;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

h1 {
    margin-bottom: 10px; 
}

.subheading {
    font-size: 1.2em;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.selected-emails {
    margin-top: 20px;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button.select-all-button {
    background-color: #2196F3;
    color: white;
    margin-right: 10px; 
}

button.select-all-button:hover {
    background-color: #1976D2;
}


button.send-email-button {
    background-color: #4CAF50;
    color: #fff;
    margin-right: 10px; 
}

button.send-email-button:hover {
    background-color: #45a049;
}


button.back-button {
    background-color: #bd1e1e;
    color: white;
    margin-left: 10px; 
}

button.back-button:hover {
    background-color: #a41e1e;
}


button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8; 
}

.emailCheckbox {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: #ddd;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.emailCheckbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.emailCheckbox:checked {
    background-color: #2cb97c;
}
.emailCheckbox:checked::after {
    transform: translateX(26px);
}
