/* CSS styles from email.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f9; /* Light teal background color */
}

.container {
    width: 60%; /* Adjusted width for responsiveness */
    margin: 100px auto;
    background-color: #ffffff; /* White container background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align container content */
}

h1 {
    margin-bottom: 10px; /* Reduce margin for h1 */
}

.subheading {
    font-size: 1.2em;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.selected-emails {
    margin-top: 20px;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Additional styling for Select All button */
button.select-all-button {
    background-color: #2196F3;
    color: white;
    margin-right: 10px; /* Add space between buttons */
}

button.select-all-button:hover {
    background-color: #1976D2;
}

/* Additional styles for Send Email button */
button.send-email-button {
    background-color: #4CAF50;
    color: #fff;
    margin-right: 10px; /* Add space between buttons */
}

button.send-email-button:hover {
    background-color: #45a049;
}

/* Additional styles for Back button */
button.back-button {
    background-color: #bd1e1e;
    color: white;
    margin-left: 10px; /* Add space between buttons */
}

button.back-button:hover {
    background-color: #a41e1e;
}

/* Additional styles for all buttons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8; /* Reduce opacity on hover for all buttons */
}
