
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f9; 
}

.container {
    width: 80%; 
    margin: 100px auto;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

a {
    display: block;
    width: 150px;
    margin: 20px auto 0;
    padding: 10px;
    text-align: center;
    background-color: #1abc9c; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #16a085; 
}
